<!-- Index page will inherit the content from parent.html template -->
{% extends 'parent.html' %}

<!-- writing the code for title block -->
{% block title %}

<title>Home</title>

{% endblock title %}

<!-- This will contain the main part of the page -->
{% block main %}
<main>

  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Header -->
    <header class="jumbotron text-center bg-cover">
     <h1 class="display-4">WELCOME TO MY PORTFOLIO</h1>
     <p class="lead">Explore my projects, skills, and experience</p>
     <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
   </header>
    
      <!-- About Section -->
      <section class="container mt-5">
        <h2 class="text-center">About Me</h2>
        <p class="text-center">I am a passionate developer with expertise in development and Python programming. Explore my skills and projects to learn more about my work.</p>
     </section>
    

 <!-- Projects Section -->
  <section class="container mt-5">
    <h2 class="text-center">Projects</h2>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img src="/static/project 1.jpg" class="card-img-top" alt="Project 1">
          <div class="card-body">
            <h5 class="card-title">NUMBER SYSTEM CONVERSION</h5>
            <p class="card-text">Developed "Number System Conversion" project Converted numbers between Binary, Octal, Decimal, and Hexadecimal bases. Mastered C programming intricacies while crafting functional code.</p>
            <a href="https://replit.com/@gouthamvaishnav/Project-on-Number-System-Conversion" class="btn btn-primary"> View Code</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img src="/static/banking .png" class="card-img-top" alt="Project 2">
          <div class="card-body">
            <h5 class="card-title">BANK MANAGEMENT SYSTEM</h5>
            <p class="card-text">The Bank Management System is a web app for efficient bank account management. It uses HTML/CSS for the frontend, Python Flask for the backend, and SQLite for database storage. The system allows users to open new accounts, update details, delete accounts, and view account information, including balance and account type.</p>
            <a href="https://github.com/Gouthamvaishnav11/Bank-System-project-" class="btn btn-primary">View Code</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img src="/static/task.png" class="card-img-top" alt="Project 3">
          <div class="card-body">
            <h5 class="card-title">TASK MANAGER</h5>
            <p class="card-text">A task manager built with Python Flask, offering a streamlined interface for organizing tasks. Features include task creation, editing, and status tracking, providing efficient project management capabilities.</p>
            <a href="https://github.com/Gouthamvaishnav11/task-manager" class="btn btn-primary">View Code</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <!-- Contact Section -->
   <section class="container mt-5 mb-5">
    <h2 class="text-center">Contact Me</h2>
    <p class="text-center">Have a question or want to work together? Feel free to reach out.</p>
    <div class="text-center">
      <a class="btn btn-primary" href="/contact"role="button">Contact</a>
    </div>
   </section>

</main>
{% endblock main %}
    

 
