<!-- project page will inherit the content from parent.html template -->
{% extends 'parent.html' %}

<!-- writing the code for title block -->
{% block title %}

<title>project</title>

{% endblock title %}

<!-- This will contain the main part of the page -->
{% block main %}
<main>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   <!-- Bootstrap CSS -->
   <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
   
 <!-- Projects Section -->
  <section class="container mt-5">
    <h2 class="text-center">Projects</h2>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img src="/static/project 1.jpg" class="card-img-top" alt="Project 1">
          <div class="card-body">
            <h5 class="card-title">NUMBER SYSTEM CONVERSION</h5>
            <p class="card-text">Developed "Number System Conversion" project Converted numbers between Binary, Octal, Decimal, and Hexadecimal bases. Mastered C programming intricacies while crafting functional code.</p>
            <a href="https://replit.com/@gouthamvaishnav/Project-on-Number-System-Conversion" class="btn btn-primary"> View Code</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img src="/static/banking .png" class="card-img-top" alt="Project 2">
          <div class="card-body">
            <h5 class="card-title">BANK MANAGEMENT SYSTEM</h5>
            <p class="card-text">The Bank Management System is a web application that allows users to manage their bank accounts efficiently. The system is built using HTML and CSS for the frontend, and Python Flask for the backend. SQLite is used as the database to store user account information. This application provides functionalities to open a new account, update existing account details, delete an account, and view account information including the account balance and type of account.</p>
            <a href="https://replit.com/@gouthamvaishnav/contact-book" class="btn btn-primary">View Code</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img src="/static/task.png" class="card-img-top" alt="Project 3">
          <div class="card-body">
            <h5 class="card-title">TASK MANAGER</h5>
            <p class="card-text">A task manager built with Python Flask, offering a streamlined interface for organizing tasks. Features include task creation, editing, and status tracking, providing efficient project management capabilities.</p>
            <a href="https://github.com/Gouthamvaishnav11/codes-.git" class="btn btn-primary">View Code</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  
  <!-- Font Awesome icons -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</main>
{% endblock main %}